<ion-grid class="gridBack">
  <ion-row justify-content-center>
    <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
      <div text-center style="color: white">
        <h2>Registration</h2>
      </div>
      <div padding>
        <ion-item>
          <ion-input type="text" placeholder="User Name" [(ngModel)]="user.userName"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="text" placeholder="Email Address" [(ngModel)]="user.emailAddress"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="password" placeholder="Password" [(ngModel)]="user.password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="password"  placeholder="Confirm Password" [(ngModel)]="user.confirmPassword"></ion-input>
        </ion-item>
      </div>

      <div padding>
        <ion-button size="large"  type="submit" expand="block" (click)="register(user)">Regsiter</ion-button>
      </div>

      <div padding text-center>
        <a href="tabs/login">Already have account? Login</a>
      </div>

    </ion-col>

  </ion-row>
</ion-grid>
